/*  your css code here. If applicable */
h1{
	text-align:center;
	
}
.form-group{
	display:flex;
	flex-direction:column;
	gap:20px;
	input{
		height:30px;
	}
	button{
		background-color:green;
		color:white;
		height:30px;
		font-size:25px;
	}
}
table{
	border:1px black solid;
	border-collapse:collapse;
	margin-block:20px;
	
}
th,td{
	border:1px black solid;
	padding:20px;
	margin:5px;
}
.delete{
	background-color:red;
	color:white;
}
tr:nth-child(even){
	background-color:brown;
	color:white;
}